<html>

<head>
  <meta charset="UTF-8">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
  <nav>
    <ul>
      <li><a href="http://localhost:3001/login">Login</a></li>
      <li><a href="http://localhost:3001">Home</a></li>
      <li><a href="http://localhost:3001/dashboard">Dashboard</a></li>
    </ul>
  </nav>
    {{{body}}}

    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>